@import url("https://fonts.googleapis.com/css2?family=Poppins:ital,wght@0,100;0,200;0,300;0,400;0,500;0,600;0,700;0,800;0,900;1,100;1,200;1,300;1,400;1,500;1,600;1,700;1,800;1,900&display=swap");

/*Formatação geral da página*/
*{
    margin: 0;
    padding: 0;
    box-sizing: border-box;
    font-family: "Poppins", sans-serif;
}

/* Corpo da página */
body{
    background: url(/AlterarSenha/imagens/pexels-lastly-572688.jpg);
    background-position: center;
    background-size: cover;
    background-attachment: fixed;
    background-repeat: no-repeat;
    display: flex;
    align-items: center;
    justify-content: center;
    min-height: 100vh;
    padding: 0 20px;
}

 /* Formulário geral */
 .form-container{
    display: flex;
    width: 450px;
    height: 600px;
    border: 3px solid rgba(255, 255, 255, 0.3);
    border-radius: 30px;
    backdrop-filter: blur(20px);
    overflow: hidden;
}

/* Coluna do formulário */
.form-col{
    position: relative;
    width: 100%;
    overflow: hidden;
}

.form-title{
    margin: 40px 0;
    color: black;
    font-size: 28px;
    font-weight: 600;
    text-align: center;
}

 /* Formulário do Esqueceu a senha e Título do formulário */
 .forgot-password .form-title{
    margin-block: 40px 20px;
}


/* Div form-inputs responsável pelos Inputs(E-mail e Senha) */
.form-inputs{
    width: 100%;
}

/* Div responsável pelos ícones e inputs*/
.input-box{
   display: flex;
   align-items: center;
   justify-content: center;
   position: relative;
   width: 100%;
   position: relative; 
}

/* Div responsável pelos inputs do site */
.inputs{
    width: 60%;
    height: 55px;
    margin: 10px 0;
    color: black;
    border: none;
    border-radius: 50px;
    box-shadow: 0 0 10px rgba(0, 0, 0, 0.2);
}

/* Div do campo de texto */
.input-field{
    font-size: 16px;
    padding: 0 40px 0 20px;
    background: rgba(255, 255, 255, 0.2);
    outline: none;
    backdrop-filter: blur(20px);
}

/* Legenda(E-mail e Senha) */
::placeholder{
    color: black;
    font-size: 15px;
}

 /* ícones de E-mail e Senha */
.input-box .icon{
    position: absolute;
    right: 100px; 
    top: 50%;
    transform: translateY(-50%);
    color: black;
    width: 20px;
    height: 20px;
}

/* Botão de Submit(Entrar) */
.submit-btn{
    display: flex;
    align-items: center;
    justify-content: center;
    gap: 10px;
    background: rgb(206, 252, 134);
    cursor: pointer;
    transition: .3s;
}

/* Botão de Submit(Entrar) Hover */
.submit-btn:hover{
    gap: 15px;
}

/*Formulário multi step*/
     /*Botões*/
     .botoes {
        display: flex;
        justify-content: space-between;
     }
     .botoes button{
        width: 100px;
        padding: 5px 10px;
        margin: 15px;
     }

     .botoes button[disabled]{
        background-color: #ccc;
        cursor: not-allowed;
     }

     /*Controle dos passos*/
     .step{
        display: none;
     }

     .step.active{
        display: block;
     }

     #codigo{
        display: flex;
        width: 60%;
        justify-content: center;
        align-items: center;
        margin: 0 auto;
     }

     /*Remove as setinhas do input type number*/
        input[type="number"]::-webkit-inner-spin-button,
        input[type="number"]::-webkit-outer-spin-button {
            -webkit-appearance: none;
            margin: 0;
        }

    .mensagem{
        display: flex;
        text-align: center;
        margin-bottom: 20px;
        margin-top: 20px;
    }